<ul class="navbar-nav" *ngIf="isAuthenticated | async">
  <li class="nav-item">
    <a class="nav-link text-dark" [routerLink]="['/authentication/profile']" title="Manage">{{ userName | async }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" [routerLink]="['/authentication/logout']" [state]="{ local: true }" title="Logout">
      <fa-icon [icon]="icons.faSignOutAlt"></fa-icon>
      Logout
    </a>
  </li>
</ul>
<ul class="navbar-nav" *ngIf="!(isAuthenticated | async)">
  <li class="nav-item">
    <a class="nav-link text-dark" [routerLink]="['/authentication/register']">Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" [routerLink]="['/authentication/login']">
      <fa-icon [icon]="icons.faSignInAlt"></fa-icon>
      Login
    </a>
  </li>
</ul>
